*
{
    font-family: "Kanit", serif;
    
    font-style: normal;
   
}
#container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    align-items: center;
    
}
#container div{
    height: 400px;
    width: 335px;
    margin: 10px;
    text-align: left;
    padding: 5px;
   
}
#container h2{
    color: rgb(235, 161, 13);
}
#container ul,ol,p{
    color: grey;
}
.downbox
{
    margin-top: 500px;
}
h1{
    margin-left: 100px;
}

