.login-page{
    height:300px;
    width:350px;
    background-color: #EFD3B5;
    margin-left:450px;
    margin-top:30px;
   padding: 20px;
   border-radius: 8px;
    
}
input[type="text"] {
    width: 200px; 
    height: 30px;
}
button{
    height:30px;
    width:70px;
}
.navbar{
    height:40px;
    width:500px;
    display:flex;
    justify-content: space-between;
    background-color: azure;
    margin-left:400px;
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration:none;
    color:black;
    
}
a:hover{
    border:2px solid black;
}
.navbarUpperPart{
    display:flex;
    align-items:center;
    margin-left: 400px;
}