#Pagetitle{
    font-family: "Kanit", serif;
    font-size: 25px;
    font-weight: 600;
    padding:5px;
    margin-bottom: 10px;
    justify-content: justify;
}
main p{
    font-family: "Kanit", serif;
    font-size: 18px;
    /* font-weight: 600; */
    padding:2px;
    color: gray;    
    justify-content: justify;
    /* margin-top: 5px; */
}
main{
    padding: 30px;
    /* display: flex; */
}
#Image{
    width: 300px;
    float: left;
    height: 180px;
    background-color: gray;
    margin: 10px;
    /* margin-bottom: 15px; */
    border-radius: 20px;
    border: 1px solid gray;
}   
#ImageOdd{
    width: 300px;
    float: right;
    height: 180px;
    background-color: gray;
    margin: 10px;
    /* margin-bottom: 15px; */
    border-radius: 20px;
    border: 1px solid gray;
}   

@media(max-width:850px){
    p{
        text-align: justify;
    }
}